.home_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f8fafc;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 100vh;
  font-family: 'Roboto';
  padding: 40px;
}

.home_content {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
}

.Home_heading {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 20px;
}

.Home_para {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.find_jobs_button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  width: 100px;
  align-self: center;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .home_container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 30px;
  }
  .home_content {
    width: 100%;
  }
  .Home_heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .Home_para {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .find_jobs_button {
    height: 30px;
  }
}
